* {
    padding: 0px;
    margin: 0px;
}

body{
    text-align: center;
    font-family: "Arial";
    color:#333;
    background-color: #333;
    
}

.container{
padding: 20px;
margin: 0 auto;
text-align: left;
max-width: 1040px;
font-family: 'Arial';
}
.container h1{
    font-size: 32px;
}

#cabecera{
    background-color: #273b47;
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0px;
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
}

#tagline{
    font-size: 0.6em;
    font-weight: 500;
}

#logo{
    max-height: 40px;
    margin: 10px;
}

#cabecera .container{
    display: flex;
    align-items: center;
}

body > .container{
    background-color: white;

}

#footer{
    background-color: #273b47;
    padding: 20px 0px;
    color: white;
    font-weight: bold;
    max-width: 1080px;
    margin: 0 auto;
}